<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="onMenuToggleDispatch()">
    <mat-icon>home</mat-icon>
    <span class="navigation-list-label">Home</span>
  </a>
  <a mat-list-item routerLink="/register" (click)="onMenuToggleDispatch()">
    <mat-icon>how_to_reg</mat-icon>
    <span class="navigation-list-label">Sign up</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onMenuToggleDispatch()">
    <mat-icon>login</mat-icon>
    <span class="navigation-list-label">Login</span>
  </a>
</mat-nav-list>
